*.xlsx
.Rhistory
.RData
*.html
*.txt
*.zip
.vscode
../.vscode
validation/valid_data/
validation/Elec_Control_Areas_BA/
validation/tgw_solar_validation/
data/dem/
data/wrf/
data/generation*
data/gridview_wind_solar_cf_8760/
data/sam_resource*
sam/configs/eia8602021ER/
sam/configs/eia8602020/
sam/tmp*
sam/temp*
sam/configs/util/temp*
.DS_store
.env
__pycache__
.Rproj.user
